.bundle/
.rvmrc
log/*.log
tmp/
coverage/
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
*.log
*.cache
*.bundle
*.tmproj
*.sqlite3
.rvmrc*
.DS_Store
.project
.idea